.weather {
    &__color {
        width: 80%;
        // height: 40%;
        padding: 40px 20px;
        border-radius: 9px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 50px 10px;
        text-align: start;
        font-family: Roboto, "Helvetica Neue";
        font-size: 16px;
        color: #8c9294;
        background-color: #ffffffbf;
        border-radius: 11px;
    }

    &__locationIcon {
        width: 15px;
        height: 15px;
        stroke: rgb(13, 55, 87);
    }

    &__timezone {
        color: #164f7b;
        margin: 0;
        display: flex;
        font-size: 22px;
    }
    &__weatherIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        width: 100px;
        height: 100px;
    }

    &__temp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
        font-size: 96px;
        color: #154e79;
    }

    &__descr {
        color: #2574b1;
        font-size: 20px;
    }
    &__data {
        font-size: 14px;
        text-transform: lowercase;
    }
}
.sliderBox {
    // width: 100%;
    margin: 0 auto;
}
.sliderBox input {
    position: absolute;
    bottom: 200px;
    width: 400px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}
