.mainPage {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 199, 199, 0.433);
}
.weather__container {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    width: 30%;
    padding: 30px;
}
